<div class="" id="#snippetsgrid">
  <div>
    <h1>Snippets</h1>
    <% if (!isLoggedIn) { %>
    <h4>You need to login/register to create snippets!</h4>
    <% } %>
    <% if (!viewData.length) { %>
    <h3>No snippets found!</h3>
    <% } %>
    <% viewData.forEach((snippet) => { %>
    <div class="row mb-2">
      <div class="card" id="snippetscard">
        <div class="card-body">
          <h5 class="card-title"><%- snippet.title %> </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%- snippet.user %> - <%- snippet.language %> </h6>
          <pre class="card-text"><%- hljs.highlightAuto(snippet.code).value %> </pre>
          <% if (viewData.activeUser === snippet.user) { %>
          <a href="./snippets/<%- snippet.id %> " class="card-link btn btn-primary">Details</a>
          <% } %>
        </div>
      </div>
    </div>
    <% }) %>
  </div>