<%  %>
<h1>Snippets</h1>
<div id="snippetsgrid">
  <% if (!viewData.length) { %>
  <h3>No snippets found!</h3>
  <% } %>
  <% viewData.forEach((snippet) => { %>
  <div class="card" id="snippetscard">
    <div class="card-body">
      <h5 class="card-title"><%- snippet.title %> </h5>
      <h6 class="card-subtitle mb-2 text-muted"><%- snippet.user %> - <%- snippet.language %> </h6>
      <p class="card-text"><%- hljs.highlightAuto(snippet.code).value %> </p>
      <a href="./snippets/<%- snippet._id %> " class="card-link">Details</a>
    </div>
  </div>
  <% }) %>
</div>